<!DOCTYPE html>
<html>
    <head>
        <title> Login </title>
        <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'js/hello.js') }}" ></script>
    </head>

    <body>
        <input type="text" name="identifiant" id="identifiant"></input>
        <br>
        <input type="text" name="mot de passe" id="mdp"></input>
        <br>
        <button onclick="connection()">Se Connecter</button>
        <br>
        <a href="http://localhost:5000/creerCompte">Vous n'avez pas de compte ?</a>
    </body>
</html>