<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/new" method="post">
        <p>Nom:</p>
        <p><input type="text" name="name" /></p>
        <p>Ville:</p>
        <p><input type="text" name="city" /></p>
        <p>Adresse:</p>
        <p><input type="text" name="addr" /></p>
        <p>Code Postale:</p>
        <p><input type="number" name="pin" /></p>
        <p><input type="submit" value="AJOUTER" /></p>
    </form>
</body>

</html>